@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --gradient-dark: linear-gradient(to left bottom, #00021d, #000b20, #001223, #001726, #001b28, #001c25, #001c22, #031c1f, #031817, #021410, #020e08, #010601);
    -ms-overflow-style: none;
    scrollbar-width: none;
}::-webkit-scrollbar {
    display: none;
}
.home-profile {
    @apply w-full h-fit overflow-hidden flex flex-col mt-4;
}
.home-profile img {
    @apply object-cover object-center rounded-tr-3xl rounded-tl-md rounded-bl-3xl rounded-br-md;
}
.home-profile > :nth-child(1) {
    @apply w-full h-[calc(100vh-60vh)];
}
.home-profile > :nth-child(2) {
    @apply pt-4 w-[calc(100%-10%)];
}

body.side-menu{
    overflow: hidden;
}

.bg-blur{
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}